<script>
    let element = document.getElementById("Dashboard header")
    element.style.display = "none"
</script>
<body>
        <form action="" id="chat-form">
              <input id="m" autocomplete="off" /><button>Send</button>
        </form>
        <ul id="messages"></ul>
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/main.js"></script>
</body>
