
<!doctype html>
<html lang="en">

<form action="/register" method="POST">
  <h1> Register an Account </h1>
    <input type="text" name="username"
        placeholder="username">
    <input type="password" name="password"
        placeholder="password">
    <input type="text" name="name"
        placeholder="name">
    <input type="text" name="brokerage"
        placeholder="brokerage">
    <input type="text" name="accountType"
        placeholder="Broker/Realtor (B/R)">
    <button>Submit</button>
</form>



</html>
